h1= title
p Welcome to #{title}
script(src='/javascripts/remote.io.js')
p drag me to your bookmars toolbar that will load Remote.IO onto whatever page you are on:
a(class='bookmarklet', href="javascript:(function(){var d=document,s=d.createElement('script'),b=d.body;s.setAttribute('src','http://remote.gfw4.info/remote.io.js');b.appendChild(s);})()") Remote.IO
